<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>485691026978-0nmr8u595vf2a702nlhm5pppm8lm40l8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.485691026978-0nmr8u595vf2a702nlhm5pppm8lm40l8</string>
	<key>API_KEY</key>
	<string>AIzaSyDaNRJX7XVwohHgrT7oCNAuZ84rcVXfPzI</string>
	<key>GCM_SENDER_ID</key>
	<string>485691026978</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.hackathon</string>
	<key>PROJECT_ID</key>
	<string>hackathon-749c0</string>
	<key>STORAGE_BUCKET</key>
	<string>hackathon-749c0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:485691026978:ios:ed38549513ed80881ca47b</string>
</dict>
</plist>